:root{
    --primary-color:#ee4d2d;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdb;

    --header-height:150px;
    --navbar-height:34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height:46px;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Resposive */



.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.grid__col-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

/* Modal */

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    display: flex;
    animation: fadeIn linear 0.1s;
}


.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body{
    --growth-from : 0.7;
    --growth-to : 1;
    background: var(--white-color);
    margin: auto;
    z-index: 1;
    animation: growth linear 0,1s;
}

/* Button  Style*/

.btn{
    min-width: 124px;
    min-height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--size-s{
    height: 32px;
    font-size: 14px;
    padding: 0 8px;
}

.btn.btn-normal:hover{
    opacity: 0.8;
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disable{
    color: #ccc;
    cursor: default;
    background-color: #999;
}

/* Selection */

.select-input{
    min-width: 200px;
    min-height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.select-input-icon{
    font-size: 1.4rem;
    color: #4a4a4a;
}

.select-input_list{
    position: absolute;
    top: calc(100% - 8px);
    left: 0;
    right: 0;
    background-color: var(--white-color);
    width: 100%;
    list-style: none;
    padding: 8px 16px;
    display: none;
    z-index: 1;
}

